*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
  
}
.ls{
    display: flex;
    width:1500px;
    height:700px;
    background-color:rgb(34, 11, 56);
    justify-content:space-evenly;
    align-items:center;
    padding: 20px;
}
.parent{
    width:370px;
    height:500px;
    background-color: aliceblue;
    border-radius: 15px;
}
#login{
    display: flex;
    flex-direction: column;
    font-size: 40px;
     font-weight: bolder;
     align-items: center;
     padding: 20px;
     color: rgb(34, 11, 56);
}
.in{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button{
    width:300px; 
    height:40 px;
     font-size:20px;
     background-color: rgb(58, 15, 99);
     color: aliceblue;
}
.link{
    color: aliceblue;
    text-decoration: solid;
}
/* -----parent2----- */
#signup{
   display: flex; 
    flex-direction: column;
    font-size: 40px;
     font-weight: bolder;
     align-items: center;
     padding: 20px;
     color: rgb(34, 11, 56);
}
.mail{
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.but{
    font-weight: bolder;
}
.facebook{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    /* font-size:small;
    font-weight: 100;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif; */
}
.but_link{
     width:300px; 
     height:40 px;
     font-size:20px;
     background-color: beige;
   
}
.link_1{
    color: rgb(96, 68, 68);
    text-decoration:none;
}