*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* -----navbar---- */
.navbar{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    background-color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    top: 0;
    z-index: 900;
    border: 1px solid rgb(222, 209, 209);
}
.nav{
    width: 750px;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
   
}
#meesho{
  
    margin: 0;
    padding-left: 80px;
    font-size: larger;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(59, 12, 59) ;
     display: flex;
    justify-content: space-evenly;
    align-items: center;
      
}
input{  
  border: 1px solid rgb(191, 194, 190);
  border-radius: 4px;
  position: relative;
  
}
img{
    position: relative;
}
.navlink{
     width: 500px;
    height: 50px;
    background-color: rgb(251, 249, 248);
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    font-size: 20px;
}
.link{
    text-decoration: none;
    gap: 20px;
    color: rgb(122, 115, 115);
   
   
}
/* ----header--- */
.header{
    background-color: white;
     position: fixed;
    width: 100%;
    height: 50px;
    z-index:999 ;
     display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap:10px;
    border:1px solid rgb(127, 99, 99)
}
.variety{
    margin: 0;
    padding-left: 1px ;
    padding-right: 1px;
    box-sizing: border-box;
    width:90%;
    height:40px;
   background-color:white;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 19px;
}
/* --------image 1----- */
.img{
    width: 100%;
    height:800px;
    background-color: rgb(248, 234, 247);
    display: flex;
    flex-direction: column;
    padding:20px 50px 60px 50px;
    /* align-items: center; */
    position: relative;
}
.button{
    position: absolute;
    top:55%;
    left: 17%;
    width: 10%;
    height: 65px;
    border: 5px solid white;
    border-radius: 10px;
    font-size: 30px;
    background-color: white;
}
.para{
    width:100%;
    height:60px;
    background-color:white;
    border: 1px solid white;
    border-radius:10px ;
    display: flex;
    justify-content: space-around;
   align-items: center;
   padding-left:30%;
   padding-right: 30%;
   font-size:25px;
   font-weight: lighter;
}
/* ------example image------ */
.image{
    width:100%;
    height:250px;
    background-color:white;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;

}   
.item{
    width:150px;
    height:225px;
    background-color:white;
    border:2px solid whitesmoke;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
     border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    
}
.item2{
    position: absolute;
    top:6px;
    left: 9px;
    border: 2px solid rgb(249, 247, 247);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 130px;
 } 
 button:hover{
    transform: scale(1.1);
 }
    
 
 button{
    border: 2px solid white;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
   
 }
 .para2{
    position: absolute;
    top: 170px;
    left: 15px;
    font-size: 20px;
    font-weight:lighter;
 }
/* --------image 2------ */
/* -------(using.img css in above)-------- */
.parenti{
    position: relative;
}
.focus{
    position:absolute;
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: bolder;
    color: rgb(156, 85, 61);
    top:120px;
    left:950px;

}
.focus1{
    position: absolute;
    font-size:40px ;
    font-style: normal;
    font-weight: bolder;
    color: rgb(52, 47, 27);
    top:200px;
    left:750px;


}
.button2{
    position: absolute;
    width:180px;
    height:70px;
    border: 2px solid rgb(114, 90, 11);
    border-radius: 10px;
    top:390px;
    color: rgb(83, 75, 53);
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(238, 177, 11);
}
.childi{
    position: absolute;
    width:210px;
    height:260px;
    background-color: rgb(235, 159, 59);
    border: 3px solid rgb(235, 222, 188);
    border-top-left-radius:100px ;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;   
}
.child2{
    position: absolute;
 }
.image2{
    border: 2px solid  rgb(193, 122, 29);
    border-top-left-radius:100px ;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
   
}
 .para3{
    position: absolute;
    top: 210px;
    left: 50px;
    font-size: 30px;
    font-weight:lighter;
    color: rgb(240, 236, 205);
 }
 .offer{
    font-size: 50px;
    padding-left: 200px;   
    color: rgb(100, 20, 100);
    display: flex;
    justify-content: center;
 }
 .button3{
    width:300px;
    height:50px;
    border: 2px solid rgb(86, 58, 58);
    color: rgb(100, 20, 100);
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
   
 }
 .button3:active{
    cursor: pointer;
    background-color:rgb(245, 245, 236);
 }
 /* -------products------ */
 .product{
    width:100%;
    height:960px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    
    
 }
 .sidebar{
    width:500px;
    height:900px;
    background-color: white;
    border: 1px solid rgb(221, 215, 215);
    position: relative;
    padding: 15px;
    
 }
.h1{
    font-size:35px;
    font-weight: lighter;
}
.selection1{
    padding-left: 12px;
    width:465px;
    height:50px;
     border: 1px solid rgb(220, 215, 215);
}
.selection{
    padding-left: 12px;
    width:465px;
    height:50px;
    border: 0px solid rgb(220, 215, 215);

}
.h2{
    
    font-size:20px;
    font-weight: lighter;
}
.orders{
    width:1250px;
    height:900px;
    background-color: white;
    border: 0px solid rgb(202, 191, 191);
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.orders1{
    width:1160px;
    height:420px;
    /* background-color: antiquewhite; */
    padding-left: 20px;
    display: flex;
    justify-content: space-around;
}
.orders2{
    width:320px;
    height: 420px;
    background-color:white;
    border: 1px solid rgb(201, 199, 199);
    border-radius: 10px;
    position: relative;
}
.item1{
    height:250px;
    position: absolute;
    left: 35px;
}
.about{
    color: rgb(118, 108, 108);
    position: absolute;
    font-size: 20px;
    font-weight: normal;
    left:15px;
    top:260px
    
}
.rs{
    position: absolute;
    /* font-size: 35px; */
    top: 300px;
    left:15px;
}
.freedelivery{
    position: absolute;
    top:340px;
    left:15px;
    height: 35px;
    width: 160px;
    border: 2px solid white;
    border-start-start-radius: 20px;
    border-end-start-radius: 20px;
    border-start-end-radius: 20px;
    border-end-end-radius: 20px;
    background-color:rgba(220, 220, 244, 0.641);
}
.star{
    position: absolute;
    top:380px;
    left:15px;
    height: 35px;
    width: 60px;
    border: 2px solid white;
    border-radius: 1px;
    border-start-start-radius: 20px;
    border-end-start-radius: 20px;
    border-start-end-radius: 20px;
    border-end-end-radius: 20px;
    background-color: rgb(35, 174, 128);
    color:white;
    font-size: 16px;
}
.reviews{
    position: absolute;
    top:390px;
    left:85px;
    font-size: 16px;
    color: rgb(136, 126, 126);
}
/* -------footer------- */
.footer{
    width:100%;
    height:200px;
    background-color: rgb(66, 66, 65);
    font-size: 20px;
    color: white;
    padding: 15px;
}
.href{
    color: rgb(69, 243, 185);
}
